<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Main - SGE</title>
</head>

<body>
    <div class="container-fluid p-5 d-flex align-items-center justify-content-between bg-light">
        <p class="text-success h3">
        Professor(a): <%= nome%>
        </p>
        <h2 class="text-success">CRUD ESCOLA</h2>
        <div>
            <a href="/turma/form" class="btn btn-success">Cadastrar Turma</a>
            <a href="/logout" class="btn btn-success">Sair</a>
        </div>
    </div>

    <table class="table container">
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
        <% turmas.forEach(item=> { %>
            <tr>
                <td>
                    <%= item.id_Turmas %>
                </td>
                <td>
                    <%= item.codigo %>
                </td>
                <td>
                    <a href="/atividade/<%= item.id_Turmas %>"><button class="btn btn-success">Visualizar</button></a>
                    <a href='/turma/editar/<%= item.id_Turmas %>'><button class="btn btn-warning">Editar</button></a>
                    <a href="/turma/deletar/<%= item.id_Turmas %>"><button class="btn btn-danger">Excluir</button></a>
                </td>
            </tr>
            <% }) %>
    </table>
</body>

</html>l